* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    background-color: #e7e9e9;
    color: #333;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 20px;
    padding-top: 70px;
    overflow-x: hidden;
}

h1 {
    margin-top: 0;
}

input {
    -webkit-appearance: none;
    width: 90%;
    font-size: 20px;
    padding: 8px;
    color: black;
    background: white;
    border: 0;
    border-radius: 4px;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid #E0196E;
    box-shadow: none;
}

#logo {
    position: absolute;
    top: -4px;
    left: 50%;
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    /*color: #F7F9F9;
    font-size: 24px;*/
}

.btn-1 {
  color: #fff;
  background: #00A676;
  border-color: #009666;
}

.btn-1:hover, .btn-1:focus {
    color: #fff;
    background: #00A676
}

#header {
    background: #e0196e;
}

.content {
    text-align: center;
}

#no-position {
    position: absolute;
    top: 70px;
    bottom: 200px;
    left: 20px;
    right: 20px;
    background: #fff;
    z-index: 10;
    border-radius: 10px;
    padding-top: 40px;
}

#new-username-button, #enter-button {
    display: inline-block;
    margin-top: 10px;
    width: 90%;
    padding: 10px 15px;
    font-size: 20px;
}

#home-screen {
    text-align: center;
}

.home-screen-btn {
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 30px 50px;
    font-size: 20px;
}

#create-room {
    margin-top: 40px;
}
#yaw, #pitch, #roll, #nav {
    height: 48px;
    width: 48px;
    margin-top: 8px; 
    font-size: 14pt;
    border-radius: 9999px;
    z-index: 1;
}

#yawBG, #pitchBG, #rollBG, #navBG {
    background-color: #CCCCCC;
    height: 64px;
    width: 64px;
    border-radius: 9999px;
    z-index: 0;
}


.img-circle{
    background-color: #e62850;
}

#enter-error {
    font-size: 20px;
    color: Crimson;
}

.page {
    display: none;
    width: 100%;
    min-height: 100%;
    border: 0;
}

.page-active {
    display: block;
    -webkit-animation: change-page .3s  ease-in-out
}

@-webkit-keyframes change-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
    display: none;
}

#back-button {
    position: absolute;
    top: 5px;
    left: 0px;
    background: none;
    margin-top: 2px;
}

#john-info {
    padding-top: 10%;
    text-align: center;
}

#start-button {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    font-size: 25pt;
}

#timer {
    font-size: 50pt;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.timerAnimation {
    display: inline-block;
    font-size: 32pt;
    -webkit-animation: timer-animation 1s ease-in-out infinite;
    animation: timer-animation 1s ease-in-out infinite;
}

.rednumbers {
    color: red;
}

@-webkit-keyframes timer-animation {
    0% {-webkit-transform: scale(1);}
    100% {-webkit-transform: scale(2);}
}

@keyframes timer-animation {
    0% {transform: scale(1);}
    100% {transform: scale(2);}
}
