* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    background-color: #e7e9e9;
    color: #333;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 20px;
    padding-top: 70px;
}

h1 {
    margin-top: 0;
}

input {
    -webkit-appearance: none;
    width: 90%;
    font-size: 20px;
    padding: 8px;
    color: black;
    background: white;
    border: 0;
    border-radius: 4px;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid #E0196E;
    box-shadow: none;
}

#logo {
    position: absolute;
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    color: #F7F9F9;
    font-size: 24px;
}

.btn-1 {
  color: #fff;
  background: #00A676;
  border-color: #009666;
}

.btn-1:hover, .btn-1:focus {
    color: #fff;
    background: #00A676
}

#header {
    background: #e0196e;
}

.content {
    text-align: center;
}

.container-fluid {
  padding-right: 40px;
  padding-left: 40px;
}

#new-username-button {
    display: inline-block;
    margin-top: 10px;
    width: 90%;
    padding: 10px 15px;
    font-size: 20px;
}

#home-screen {
    text-align: center;
}

.home-screen-btn {
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 30px 50px;
    font-size: 20px;
}

#create-room {
    margin-top: 40px;
}

.page {
    display: none;
    width: 100%;
    min-height: 100%;
    border: 0;
}

.page-active {
    display: block;
    -webkit-animation: alert-change .3s  ease-in-out
}

@-webkit-keyframes alert-change {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hidden {
    display: none;
}

#back-button {
    background: none;
    margin-top: 2px;
}

#john-info {
    padding-top: 10%;
    text-align: center;
}

#start-button {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    font-size: 25pt;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}