* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    background-color: #E4E4E4;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 20px;
    padding-top: 60px;
    text-align: center;
}

h1 {
    margin-top: 0;
}

input {
    -webkit-appearance: none;
    padding: 8px;
    color: black;
    background: white;
    border: 0;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid Crimson;
    box-shadow: none;
}

.middle {
}

#home-screen {
    text-align: center;
}

.page {
    display: none;
    width: 100%;
    min-height: 100%;
    border: 0;
}

.page-active {
    display: block;
    -webkit-animation: alert-change .3s  ease-in-out
}

@-webkit-keyframes alert-change {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hidden {
    display: none;
}

#back-button {
    margin-top: 6px;
}

#john-info {
    padding-top: 10%;
    text-align: center;
}

#start-button {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    font-size: 25pt;
}

#timer {
    font-size: 50pt;
}

.timerAnimation {
    /*font-size: 50pt;*/
    -webkit-animation: timer-animation 1s infinite;
    animation: timer-animation 1s infinite;
}

.rednumbers {
    color: red;
}

@-webkit-keyframes timer-animation {
    0% {font-size: 40pt;}
    25% {font-size: 42pt;}
    50% {font-size: 45pt;}
    75% {font-size: 47pt;}
    100% {font-size: 50pt;}
}

@keyframes timer-animation {
    0% {font-size: 40pt;}
    25% {font-size: 42pt;}
    50% {font-size: 45pt;}
    75% {font-size: 47pt;}
    100% {font-size: 50pt;}
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}